/* Navbar.css */


header {
  background-color: #645f5f;
  padding: 1rem;
  text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-conatiner img{
    height: 50px;
    width: 50px;
}

.navbarItems {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  gap: 50px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-right: 50px;
}

.navbarItems li {
  cursor: pointer;
  transition: color 0.3s ease;
  text-align: center;
}

.navbarItems li:hover {
  color: #00bfff;
}

